.container-hero {
  background: aqua;
}
@media screen and (min-width: 320px) {
  .hero-text {
    padding: 118px 0;
  }

  .main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .hero-title .btn {
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .hero-text {
    padding: 200px 0;
  }
  .main-title {
    font-size: 44px;
    line-height: 1.363;
  }
}
// .hero-img {
//   text-align: center;
//   background-color: #c4c4c4;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero/hero.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: auto auto;
// }

// .hero-img {
//   text-align: center;
//   background-color: #c4c4c4;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero/hero.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: auto auto;
// }

// .hero-img {
//   text-align: center;
//   background-color: #c4c4c4;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero/hero.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: auto auto;
// }

// .hero-img {
//   background-color: #c4c4c4;
//   text-align: center;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero/hero.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: auto auto;
// }

// .hero-title .btn {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.875;
//   letter-spacing: 0.06em;
//   color: #ffffff;
//   padding: 10px 32px;
//   min-width: 200px;
//   height: 50px;
//   left: 700px;
//   top: 430px;
//   background: rgba(33, 150, 243, 1);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   /* border: 1px solid transparent; */
//   border-radius: 4px;
// }
