// было
// @media screen and (min-width: 320px) and (max-width: 1999px)
// стало
.adv-text {
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 226px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 536px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 251px;
  }
}
@media screen and (max-width: 1999px) {
  .advantages-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .advantages-icon-bg {
    display: flex;
    background-color: #f5f4fa;
    width: 450px;
    height: 120px;
    // left: 515px;
    // top: 774px;
    border-radius: 4px;

    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .advantages-icon-bg {
    display: flex;
    background-color: #f5f4fa;
    width: 450px;
    height: 120px;
    // left: 515px;
    // top: 774px;
    border-radius: 4px;

    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }
  .advantages-icon {
    width: 70px;
    height: 70px;
  }
  .power-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;

    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .adv-text:not(:first-child) {
    margin-top: 30px;
  }
  .power-subtitle {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-icon-bg {
    display: flex;
    background-color: #f5f4fa;
    width: 354px;
    height: 120px;
    // left: 515px;
    // top: 774px;
    border-radius: 4px;

    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }
  .advantages-icon {
    width: 70px;
    height: 70px;
  }
  .power-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
  }

  .power-subtitle {
    width: 354px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .adv .list {
    display: flex;
    flex-wrap: wrap;
  }
  .adv-text:nth-child(odd) {
    margin-right: 30px;
  }
  .adv-text:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .advantages-icon-bg {
    display: flex;
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    // left: 515px;
    // top: 774px;
    border-radius: 4px;

    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }
  .advantages-icon {
    width: 70px;
    height: 70px;
  }
  .power-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
  }

  .power-subtitle {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .adv-list {
    display: flex;
  }
  .adv-text:not(:last-child) {
    margin-right: 30px;
  }
}
// .adv-text::before {
//   content: "";
//   display: block;
//   background-color: #f5f4fa;
//   width: 270px;
//   height: 120px;
//   left: 515px;
//   top: 774px;
//   border-radius: 4px;
// }

// .antena::before {
//   content: "";
//   background-image: url(../images/advantages/antena.png);
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .clock::before {
//   content: "";
//   background-image: url(../images/advantages/clock.png);
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .diagram::before {
//   content: "";
//   background-image: url(../images/advantages/diagram.png);
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .astronaut::before {
//   content: "";
//   background-image: url(../images/advantages/astronaut.png);
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .advantages-icon-bg {
//   display: flex;
//   background-color: #f5f4fa;
//   width: 270px;
//   height: 120px;
//   left: 515px;
//   top: 774px;
//   border-radius: 4px;

//   align-items: center;
//   justify-content: center;
// }

// .advantages-icon {
//   width: 70px;
//   height: 70px;
// }

// .advantages-padding {
//   padding-top: 94px;
// }
// .adv .list {
//   display: flex;
//   // justify-content: space-between;
// }
// .adv-text:not(:last-child) {
//   margin-right: 30px;
// }
// .power-title {
//   margin-top: 30px;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: $main-text-color;
// }
// .power-subtitle {
//   width: 270px;
//   margin-top: 10px;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: #757575;
// }
