*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: $main-font;
  font-style: normal;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  font-style: normal;
}

a:focus {
  outline: none;
}
button:focus {
  outline: none;
}
// .body .modal-open {
//   overflow: hidden;
// }
